<div class="password">
  <div class="password__logo">
    {% include 'svg-logo' %}
  </div>
  <div class="container">
    <div class="password__subscribe">
      {%- assign formId = 'password-subscribe' -%}
      {% form 'customer', id: formId, class: 'password__subscribe-form' %}
        <h2 class="h1 subscribe__heading">
          {{ section.settings.subscribe_title }}
        </h2>
        <p class="subscribe__paragraph">
          {{ section.settings.subscribe_paragraph }}
        </p>
        <div class="subscribe__form">
          {% unless form.posted_successfully? %}
            <div class="subscribe__input-group {% if form.errors %}subscribe__email--error{% endif %}">
              <input type="hidden" name="contact[tags]" value="{{ section.settings.subscribe_tags }}">
              <label for="{{ formId }}-email" class="screenreader">{{ 'contact.email' | t }}</label>
              <input type="email"
                name="contact[email]"
                id="{{ formId }}-email"
                class="subscribe__input"
                value="{% if customer %}{{ customer.email }}{% endif %}"
                placeholder="{{ 'subscribe.email' | t }}"
                autocorrect="off"
                autocapitalize="off"
                autocomplete="email"
                {% if form.errors %} aria-invalid="true" aria-describedby="{{ formId }}-email-error"{% endif %}>
              <button type="submit" class="subscribe__submit text--button" name="commit" id="Subscribe">
                {{ 'subscribe.submit' | t }}
              </button>
            </div>
          {% endunless %}
          {% if form.posted_successfully? %}
            <p class="subscribe__success-message" tabindex="-1" data-form-status="success">
              {{ section.settings.subscribe_success }}
            </p>
          {% elsif form.errors %}
            <p id="{{ formId }}-email-error" class="subscribe__error-message">{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</p>
          {% endif %}
        </div>
      {% endform %}
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Password",
  "settings": [
    {
      "type": "header",
      "content": "Subscription Form"
    },
    {
      "type": "textarea",
      "id": "subscribe_title",
      "label": "Subscription Heading"
    },
    {
      "type": "textarea",
      "id": "subscribe_paragraph",
      "label": "Subscription Paragraph"
    },
    {
      "type": "text",
      "id": "subscribe_tags",
      "label": "Subscription Tags",
      "default": "newsletter",
      "info": "Comma-separated list of tags"
    },
    {
      "type": "textarea",
      "id": "subscribe_success",
      "label": "Subscribe Success Message"
    }
  ]
}
{% endschema %}
